body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
#testlogo{
  width: 50%;
  height: 55%;
}
.conatct{
	display: inline-block;
}
#bl-txt{
	color: black;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
	background-image: url(../images/background.jpg);
  /*background-color: #606060; /* Green */*/
  color: #ffffff;
}
.bg-2 { 
  background-color: #FFFFFF; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #F8F8F8; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.bg-5{
	background-image: url(../images/back2.jpg);
  	
	color: #ffffff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #4169E1 !important;
}
